.project {
    padding: 120px 15% 0;
    @media (min-width: $bp-large) {
        padding: 50px 5% 0;
    }
    &_title {
        font-family: "Playfair Display", serif;
        font-size: 30px;
        margin-bottom: 50px;
    }
    &_text {
        font-size: 16px;
        line-height: 1.5;
    }
}